/* =======================Project 2 =================*/

#homepage {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/parallaxmain.jpg");
  background-position: center;
  background-size: cover;
}

#homepage::before {
  content: "";
  background: rgba(44, 94, 160, 0.45);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.homepage-form {
  background-color: rgb(249, 250, 255);
  padding: 50px 20px;

  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.homepage-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.homepage-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.homepageHeading {
  margin-top: 80px;
  margin-bottom: 30px;
  transform: rotate(-7deg);
}

.homepageHeadingtext {
  font-size: 30px;
  text-transform: uppercase;
  color: #f8f8f8;
  font-weight: 700;
}

.customContainer {
  position: relative;
  height: 100vh;
}

.customContainer .customContainer-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.submit-button {
  font-weight: 600;
  font-size: 0.75em;
  color: #ffffff;
  letter-spacing: 1.1px;
  height: 38px;
  width: 40%;
  line-height: 38px;
  background: #498cda;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
}

#navigationCustom {
  border-radius: 0px;
  background: #f8f8f8;
  padding: 20px;
  font-size: 17.5px;
}
/* logo or main heading */
#logo {
  font-size: 21px;
  font-weight: bolder;
  color: #00004d;
  letter-spacing: 2px;
  margin-left: 3%;
  margin-right: 2%;
}

#link a {
  color: #01325d;
  margin: 1px 20px 0 10px;
  letter-spacing: 1.5px;
}

/* sign up link button and toggle button */
#button-link {
  color: #f2f2f2;
  border-style: solid;
  font-size: inherit !important;

  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fa6a48;
  padding-left: 10px;
}
#button-link a {
  color: #f2f2f2;
  text-decoration: none;
}

.nav-item:focus,
.nav-item:hover {
  text-decoration: none;
  background-color: #f8f8f8;
}
