amadeus==4.5.0
asgiref==3.2.10
bootstrap4==0.1.0
certifi==2020.11.8
chardet==3.0.4
Django==3.1.2
django-braces==1.14.0
django-crispy-forms==1.9.2
django-model-utils==4.0.0
django-ratings==0.3.7
django-star-ratings==0.9.1
furl==2.1.0
heroku==0.1.4
iata-codes==0.0.5
idna==2.10
orderedmultidict==1.0.1
Pillow==8.0.0
python-dateutil==1.5
pytz==2020.1
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
swapper==1.1.2.post1
urllib3==1.26.2
