{% extends "hotels/main.html" %} {% load static %} {% block content %}

<!--   This page contain the homepage hotel search   -->
<div id="homepage" class="customContainer">
  <div class="customContainer-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-5">
          <div class="homepageHeading">
            <h1 classe="homepageHeadingtext" style="color: #f8f8f8">
              <div style="font-size: 65px; font-family: 'Verdana', sans-serif">
                Getaway
              </div>
              <div style="margin-left: 26px">
                in the times of <br />
                Pandemic
              </div>
            </h1>
            <p></p>
          </div>
        </div>
        <div class="col-md-6 col-md-pull-7">
          <div class="homepage-form">
            <!-- =========================== Bootstrap Form=============================-->

            
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Hotels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Flights</a>
    </li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <form action="hotels/"  method="POST" id="form_id">
        {% csrf_token %}
            <div >
              <div class="form-group"></form>
                <span class="form-label">Your Destination</span>
                <hr onmouseover="clearSearch()"> 
                <input class="book_n" type="text" name="Origin" id="origin"  onkeyup="myFunction3()" placeholder="{{ origin }}" required autofocus />
              <ul id="myTable1" >
                {% for location in location_name %}
                <li class="list-group-item origin_list" data-location = "{{location}}">{{location}}</li> 
                {% endfor %}
              </ul>      
              </div>
              <div class="row" onmouseover="clearSearch()">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Check In</span>
                   <input class="book_n" type="date" name="Departuredate" id="idDeparturedate" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Check out</span>
                    <input class="book_n" type="date" name="Returndate" id="idReturndate" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label" name="adults" id="adults">Adults</span>
                    <select class="book_n" >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label" name="children" id="children">Children</span>
                    <select class="book_n">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <center>
                  <button class="book_btn" type="Submit" name="Submit" value="Submit">Search</button>
                </center>
              </div>
              </div>
            </form>
            
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      
	  <form action="flights/" method="POST" id="form_id">
        {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <label class="date">From</label>
              <hr onmouseover="clearSearch()">
              <input class="book_n" type="text" name="Origin" id="inputOrigin"  onkeyup="myFunction1()" placeholder="{{ origin }}" required autofocus />
              <ul id="myTable1" >

                {% for location in location_name %}
                <li class="list-group-item origin_list" onclick="origin_select()" data-location = "{{location}}">{{location}}</li> 
                {% endfor %}
              </ul>           
              </div>

            <div class="col-md-6">
              <label class="date">Destination</label>
              <hr onmouseover="clearSearch()">
              <input class="book_n" type="text" placeholder="{{ destination }}" onkeyup="myFunction2()" name="Destination" id="inputDestination" required autofocus />
              <ul id="myTable2" >

                {% for location in location_name %}
                <li class="list-group-item dest_list" data-location = "{{location}}">{{location}}</li> 
                {% endfor %}
              </ul>    
            </div>
          </div>
          
              <div class="row" style="padding-top:20px;" onmouseover="clearSearch()">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Check In</span>
                    <input class="book_n" type="date" name="Departuredate" id="idDeparturedate" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Check out</span>
                    <input class="book_n" type="date" name="Returndate" id="idReturndate" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Adults</span>
                    <select class="book_n" name="adults" id="adults">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Children</span>
                    <select class="book_n" name="children" id="children">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <center>
                  <button class="book_btn" type="Submit" name="Submit" value="Submit">Search</button>
                </center>
              </div>
            </form>
	  
	  </div>
    
  </div>
</div>

            <!-- =========================== Bootstrap Form ENDS=============================-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function clearSearch() {
      li = document.getElementsByClassName("origin_list");
      for (i = 0; i < li.length; i++) {  
          li[i].style.display="none";
      }
      li1 = document.getElementsByClassName("dest_list");
      for (i = 0; i < li1.length; i++) {  
          li1[i].style.display="none";
      }
  }
  function myFunction1() {
    // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("inputOrigin");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myTable1");
      li = document.getElementsByClassName("origin_list");
      
    // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) 
          {                
          txtValue = li[i].textContent && li[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) 
              {
                  li[i].style.display = "";
              } 
          else 
          {
              li[i].style.display = "none";
          }
          }  
          }
  
  
   
    
  function myFunction2() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("inputDestination");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myTable2");
  li = document.getElementsByClassName("dest_list");
  
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) 
      {                
      txtValue = li[i].textContent && li[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) 
          {
              li[i].style.display = "";
          } 
      else 
      {
          li[i].style.display = "none";
      }
      }  
      }
      
      function myFunction3() {
        // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("origin");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myTable1");
          li = document.getElementsByClassName("origin_list");
          
        // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) 
              {                
              txtValue = li[i].textContent && li[i].innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) 
                  {
                      li[i].style.display = "";
                  } 
              else 
              {
                  li[i].style.display = "none";
              }
              }  
              }
      
  </script>
{% endblock content %}
