{% extends "hotels/main.html" %} {% load static %} {% block content %}

<!-- =========================== Bootstrap Form=============================-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="" class="form_book" method="POST" id="form_id">
        {% csrf_token %}
          <div class="row">

          <div class="col-md-3">
              <label class="date">Your Destination - enter the code in bracket</label>
              <input class="book_n" type="text" name="Origin" id="origin"  onkeyup="myFunction1()" placeholder="{{ origin }}" required autofocus />
              <ul id="myTable1" >

                {% for location in location_name %}
                <li class="list-group-item origin_list" onclick="origin_select()" data-location = "{{location}}">{{location}}</li> 
                {% endfor %}
              </ul>      
            </div>
            
            <div class="col-md-3">
              <label class="date">ARRIVAL DATE</label>
              <input class="book_n" type="date" name="Departuredate" id="idDeparturedate" required>
            </div>
            <div class="col-md-3">
              <label class="date">DEPARTURE DATE</label>
              <input class="book_n" type="date" name="Returndate" id="idReturndate" required />
            </div>
            
            <div class="col-md-3">
              <button class="book_btn" type="Submit" name="Submit" value="Submit">Book Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- =========================== Bootstrap Form ENDS=============================-->


   <div class="container" id = "hotelsboxes">
    <div class="paddingsbottom">
      {% for hotel in hotelResult %} 

      <div class="hoteladjusting">
        <img
          src={{hotel.hotelImg}}
          alt="Image"
          style="width:400px;"
        />
        <div class="hotelDescription">
          <h3 class="hotelname">{{hotel.name}}</h3>
          <p >{{origin}}</p>
          <p >
            {{hotel.description}}
          </p>
          {% if Covid %}
          <span class="badge badge-info">Covid Safe</span>
          {% endif %}
          
          <span class="badge badge-dark">AC</span>
          
          {% if hotel.Parking %}
          <span class="badge badge-success">Parking Available</span>
          {% endif %}
          {% if hotel.Heritage %}
          <span class="badge badge-warning"> Heritage</span>
          {% endif %}
          {% if hotel.Pool %}
          <span class="badge badge-danger">Pool</span>
          {% endif %}
          {% if hotel.Gym %}
          <span class="badge badge-primary">Gym</span>
          {% endif %}
          {% if hotel.HotBath %}
          <span class="badge badge-success">Hot Bath</span>
          {% endif %}

        </div>
        <a href="#" class="pricecontainer pricecontainer2 pricecontainer3" style="text-decoration: none !important;";>
          <p style="color: #f8f8f8;
  font-size: 1.6rem;
  font-weight: 600;">${{hotel.price}}</p>
          <p style="color: #f8f8f8;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;">Book</p>
        </a>
      </div>
      {% endfor %}
    </div>
</div>
  </div>
  </div>

<script>
  function clearSearch() {
    li = document.getElementsByClassName("origin_list");
    for (i = 0; i < li.length; i++) {  
        li[i].style.display="none";
    }
    li1 = document.getElementsByClassName("dest_list");
    for (i = 0; i < li1.length; i++) {  
        li1[i].style.display="none";
    }
}
function myFunction1() {
  // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("origin");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myTable1");
    li = document.getElementsByClassName("origin_list");
    
  // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) 
        {                
        txtValue = li[i].textContent && li[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) 
            {
                li[i].style.display = "";
            } 
        else 
        {
            li[i].style.display = "none";
        }
        }  
        }


</script>


  
  

  {%endblock content %}

