<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>E travel Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/project2.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/popup.css' %}"
    />

    <!-- commenting this out breaks main.css -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" /> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
      var user = "{{request.user}}";
      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getToken("csrftoken");
    </script>
  </head>
  <!-- <body style="background-color:hsl(0, 0%, 16%);"> -->

  <body>
    <!-- ========== NAVBAR Starts HERE ==========-->

    <nav
      id="navigationCustom"
      class="navbar navbar-expand-lg navbar-light bg-light"
      onmouseover="clearSearch()"
    >
      <a id="logo" class="navbar-brand" href="/">Getaway</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/hotels"
              >Hotels <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flights">Flights</a>
          </li>
          
        </ul>
        <ul class="navbar-nav" id="link">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a
              class="nav-link"
              style="text-decoration: none"
              href="{% url 'profile' %}"
              >Profile</a
            >
          </li>
          
          <li id="button-link" class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link"
              style="text-decoration: none"
              href="{% url 'login' %}"
              >Sign In</a
            >
          </li>
          <li id="button-link" class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
          {% endif %}
          <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        <!-- form wrapper -->
      </div>
    </nav>

    {% block content %} {% endblock content %}

    <div class="choose">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="choose_box">
              <div class="titlepage text-justify-left">
                <h2>
                  <span class="text_norlam">Bored in Quarantine</span>
                  <br />Plane a Gataway
                </h2>
              </div>
              <p>
                Getaway is a perfect place for you to place your trips. We help
                you find cheapest and covid safe travel journies
              </p>
              <a class="book_btn" href="hotels/">Hotels</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="img_box">
                  <figure>
                    <img src="{% static 'images/big1.jpg' %}" alt="#" />
                  </figure>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img_box">
                  <figure>
                    <img src="{% static 'images/big2.jpg' %}" alt="#" />
                  </figure>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img_box">
                  <figure>
                    <img src="{% static 'images/big3.jpg' %}" alt="#" />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>








<!--=========================== Reviews ==========================-->


<div class="container" style="padding-top:80px">
<div class="titlepage text-justify-left">
                <h2>
                  
                  <br />Comments
                </h2>
              </div>
</div>


<div class="container" style="padding-top:30px">
    <div class="row">
        <div class="col-md-12 offset-md-12">
            <div class="card card-info">
                <div class="card-block">

                <!--=========================== This is the Form for comment ==========================-->
                    
                    <form action="" class="form-inline" id="comment">
                    <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea" name="comment" id="comment"></textarea>
                        
                        <button  class="book_btn float-xs-right" type="button">Share</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top:20px">
<div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body text-left">
                
                <h4>     
                  Latest Comments
                </h4>
              
            </div>
            <div class="comment-widgets">
                
                

                <!--========== This is reusable part USE FOR LOOP HERE  ==============-->

                <div class="d-flex flex-row comment-row m-t-0">
                    <div class="p-2"></div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Rohan Mishra</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                        <div class="comment-footer"> <span class="text-muted float-right">july 14, 2020</span>  </div>
                    </div>
                </div> 
                <!-- ============First comment ends here============-->


                <!-- ============second comment starts here============-->
                <div class="d-flex flex-row comment-row ">
                    <div class="p-2"></div>
                    <div class="comment-text w-100">
                        <h6 class="font-medium">Arjun Bharat</h6> <span class="m-b-15 d-block">This helped me a lot during my trip planning. Top notch website </span>
                        <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span>  </div>
                    </div>
                </div>
                <!-- ============second comment ends here============-->
                </div> 
            </div> 
        </div>
    </div>
</div>







<div style="padding-top: 100px;">
    <div class="footer" >
      <p style="padding-top: 10px;">Getaway - one place for all your travel needs.</p>
    </div>
    </div>





    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wishlist.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
  </body>
</html>
